.navigation {
    top: 5px;
    Left: 5px;
    Right: 5px;
    height: 150px;
    background-color: gray;   
}

.home_navigation {
    position: absolute;
    right: 160px;
    top:25px;
    color: white;
    text-decoration: none;
}

.about_navigation {
    position:absolute;
    right: 110px;
    top: 25px;
    color: white;
    text-decoration: none;
}

.tableau_navigation {
    position: absolute;
    right: 50px;
    top: 25px;
    color: white;
    text-decoration: none;
}

.header {
    text-align: center;
    font-size: 25px;
    padding: 62px;
    color: lightgray;
}

.graph_size {
    width: 1000px;
    height: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.graph_captions {
    font-size: 15px;
    text-align: center;
}

.footer {
    bottom: 0px;
    left: 5px;
    right: 5px;
    height: 100px;
    background-color: gray;
}

.footer_text{
    text-align: center;
    font-size: 25px;
    color: lightgray;
}

.tableau_box {
    height:4050px;
    padding: 50px;
}